/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4216910 */
  src: url('https://at.alicdn.com/t/c/font_4216910_okxktrj5g8.woff2?t=1693966781665') format('woff2'),
       url('https://at.alicdn.com/t/c/font_4216910_okxktrj5g8.woff?t=1693966781665') format('woff'),
       url('https://at.alicdn.com/t/c/font_4216910_okxktrj5g8.ttf?t=1693966781665') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiangxu:before {
  content: "\e6a1";
}

.icon-shengxu:before {
  content: "\e6a2";
}

.icon-fanhui:before {
  content: "\e600";
}

.icon-shanchu:before {
  content: "\e8c1";
}

.icon-saoyisao:before {
  content: "\e891";
}

.icon-xiaoxi:before {
  content: "\e616";
}

